# Core functionality - changes here should be rare!
/src/app.py                   @Praveshgairee
/src/backend/database.py      @Praveshgairee
/src/backend/routers/auth.py  @Praveshgairee

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Praveshgairee
